:root{
    --text-color: rgba(255,255,255,0.5);
    --background-color: #0D0C0F;
    --background-color-2: #131313;
    --highlights: #302f2f;
    --main-gradient: linear-gradient(to right, #24f0bf , #0bbb6b);

    --navbar-height: 100px;
    --sidebar-width: 250px;
    --player-height: 100px;

}

*{
    box-sizing: inherit;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    outline: none;
    border: none;
    
}

html{
    box-sizing: border-box;
    font-size: 16.5px;
    line-height: 1.2;
    font-family: 'HelveticaNeue',Helvetica, Arial, sans-serif;

}

.flex-box{
    display: flex;
}